    <td
      [ngClass]="{
        'text-decoration-line-through': todo.completed,
        'text-dark': !todo.completed
      }"
    >
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [checked]="todo.completed" (change)="markCompleted()" />
        {{ todo.title }}
      </label>
    </td>
    <td>{{ todo.dueDate | date }}</td>
    <td>
      <span [ngClass]="{ 'text-success': todo.completed, 'text-danger': !todo.completed }">
        {{ todo.completed ? 'Completed' : 'Pending' }}
      </span>
    </td>
    <td>
      <!-- <button class="btn btn-danger btn-sm" (click)="onDeleteTodo()">Delete</button> -->
      
        <button class="btn btn-success btn-sm" (click)="onEditTodo()">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="onDeleteTodo()">Delete</button>
        <button class="btn btn-warning btn-sm" (click)="onDetailsTodo()">Details</button>
    </td>
